{% extends 'base.html.twig' %}

{% block title %}Collection index{% endblock %}

{% block body %}
    <h1>Collection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                {# <th>Owned</th> #}
                <th>Public</th>
                <th>Shared</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.id }}</td>
                <td>{{ collection.title }}</td>
                {# <td>{{ collection.isShared ? 'Yes' : 'No' }}</td> #}

{#                 <td>
                    {{ collection.isOwned(app.user) }}
                </td>
 #}
                <td>

                    {# only display link if owned  #}
                    {% if collection.isOwner(app.user) and not collection.isPublic %}
                        <a 
                        href="{{ path('collection_public', {'id': collection.id}) }}"
                        data-toggle="tooltip" title="Make collection public. Cannot undo"  
                        class="btn btn-light">
                        
                        {{ collection.isPublic ? "Yes" : "No" }}
                    
                        </a>

                    {% else %}

                        {{ collection.isPublic ? "Yes" : "No" }}

                    {% endif %}                    

{#                 <td>
                    <a href="{{ path('collection_show', {'id': collection.id}) }}">show</a>
                    <a href="{{ path('collection_edit', {'id': collection.id}) }}">edit</a>
                </td>
 #}
                <td>

                    {% if collection.isOwner(app.user) %}
                        <a 
                            href="{{ path('collection_share', {'id': collection.id}) }}"
                            data-toggle="tooltip" title="Share collection"  
                            class="btn btn-light">
                    
                                {{ collection.isShared ? "Yes" : "No" }}

                        </a>

                    {% else %}

                        {{ collection.isShared ? "Yes" : "No" }}

                    {% endif %}                    


                </td>
                <td>
                    <div class="btn-group">
                        <a 
                            href="{{ path('collection_show', {'id': collection.id}) }}" 
                            data-toggle="tooltip" title="Show collection" 
                            class="btn btn-light">
                            <span class="fa fa-eye"></span>    
                        </a>

                        {% if collection.isOwner(app.user) %}
                            <a 
                                href="{{ path('collection_edit', {'id': collection.id}) }}"
                                data-toggle="tooltip" title="Edit collection"  
                                class="btn btn-light">
                                <span class="fa fa-edit"></span>
                            </a>


                            <a 
                                href="{{ path('collection_share', {'id': collection.id}) }}" 
                                data-toggle="tooltip" title="Share collection" 
                                class="btn btn-light">
                                <span class="fa fa-share"></span>
                            </a>

                            <a 
                                href="{{ path('collection_delete', {'id': collection.id}) }}" 
                                data-toggle="tooltip" title="Delete collection" 
                                class="btn btn-danger">
                                <span class="fa fa-trash"></span>
                            </a>

                        {% endif %}

                    </div>
                </td>

                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('collection_new') }}">Create new</a>
{% endblock %}