{% extends 'base.html.twig' %}

{% block title %}Collection index{% endblock %}

{% block body %}
    <h1>Collection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>IsShared</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.id }}</td>
                <td>{{ collection.title }}</td>
                <td>{{ collection.isShared ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('collection_show', {'id': collection.id}) }}">show</a>
                    <a href="{{ path('collection_edit', {'id': collection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('collection_new') }}">Create new</a>
{% endblock %}