{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block body %}
    <h1>Collection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ collection.created ? collection.created|date('Y-m-d H:i:s') : 'not set' }}</td>
            </tr>

            <tr>
                <th>User</th>
                <td>{{ collection.user.username }}</td>
            </tr>            
            <tr>
                <th>Title</th>
                <td>{{ collection.title }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ collection.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsShared</th>
                <td>{{ collection.isShared ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('collection_index') }}">Back</a>
    {# only display if user owns form  #}
    {% if collection.isOwner(app.user) %}

        <a href="{{ path('collection_edit', {'id': collection.id}) }}">Edit</a>

        {{ include('collection/_delete_form.html.twig') }}

    {% endif %}

{% endblock %}