<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		
		<a href="/" class="navbar-brand">Recipes</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
 			<span class="navbar-toggle-icon"></span>
		</button>

 		<ul class="navbar-nav ml-auto">
			
			<li class="nav-item">
				<a href="/" class="nav-link">Home</a>
			</li>

			<li class="nav-item">
				<a href="/recipe/" class="nav-link">Recipes</a>
			</li>

			<li class="nav-item">
				<a href="/coll/" class="nav-link">Collections</a>
			</li>

{# 			<li class="nav-item">
				<a href="/comment/" class="nav-link">Comments</a>
			</li>		 #}	

		</ul>


		<div class="collapse navbar-collapse" id="mobile-nav"></div>

			{# efc add login #}
			{% if is_granted('ROLE_USER') %}
				<span class="label float-right">
				
					<a 
						href="{{ path('fos_user_profile_show') }}" 
						class="nav-link">
						
						User : {{ app.user.getUsername() }} 
					
					</a>
				</span>
				<span class="nav-item float-right">
					<a 
						href="{{ path('fos_user_security_logout') }}" 
						class="nav-link">
						Logout
					</a>
				</span>

			{% else %}

				<span class="nav-item float-right">
					<a 
						href="{{ path('fos_user_security_login') }}" 
						class="nav-link">
						Login
					</a>
				</span>

				<span class="nav-item float-right">
					<a 
						href="{{ path('fos_user_registration_register') }}" 
						class="nav-link">
						Register
					</a>
				</span>

				<span class="nav-item float-right">
					<a 
						href="{{ path('fos_user_resetting_request') }}" 
						class="nav-link">
						Forgotten Password
					</a>
				</span>
			{% endif %}

	</div>
{# 	<div>
	         {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
 #}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

{#         <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
 #}  

</nav>

